<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
  <ul data-role="listview" data-filter="true" data-inset="true">
    <th:block th:each="actor,stat:${actorList}" th:object="${actor}"
        th:with="divider=${hasDivider && (stat.index == 0 || actor.type != actorList[stat.index - 1].type)}">
      <th:block th:if="${divider}">
        <li data-role="list-divider" th:text="*{type}"></li>
      </th:block>
      <li th:attr="data-id=*{id}, data-seq=*{seq}">
        <th:block th:if="${edit}">
          <a th:href="'/actor/edit/' + *{id}" target="_blank">
            <img/>
            <span th:text="*{className}"></span>
            <span th:if="0 != *{score}" class="ui-li-count" th:text="*{score}"></span>
            <p th:if="0 < *{referrer}" class="ui-li-aside">
              <span>Referrer: </span><span th:text="*{referrer}"></span>
            </p>
          </a>
          <a></a>
        </th:block>
        <th:block th:unless="${edit}">
          <a>
            <span th:text="*{className}"></span>
            <span th:if="0 != *{score}" class="ui-li-count" th:text="*{score}"></span>
            <p th:if="0 < *{referrer}" class="ui-li-aside">
              <span>Referrer: </span><span th:text="*{referrer}"></span>
            </p>
          </a>
        </th:block>
      </li>
    </th:block>
  </ul>
</body>
</html>
