<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Product</title>
<link rel="icon" type="image/x-icon" href="/img/icon.shooter.ico"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<link rel="stylesheet" href="/css/default.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/js/ssfw-min.js"></script>
<script type="text/javascript" src="/js/detail-min.js"></script>
</head>

<body>
<div id="productDetail" data-role="page">
  <div data-role="header" data-theme="b" data-position="fixed">
<!--
    <a href="/" data-ajax="false" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext"></a>
-->
    <h1 th:text="#{product}">Product</h1>
    <a href="#infoPanel" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-info">Info</a>
    <a href="#stagePanel" class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{stage}">Stage</a>
  </div>
  <div data-role="collapsible" data-collapsed="false" data-mini="true">
    <h4 th:text="#{stage}">Stage</h4>
    <ul id="productStageView" data-role="listview" data-split-icon="edit">
      <li th:each="detail:${product.detailList}">
        <a th:with="map=${detail.map}" href="#editStagePanel" th:attr="data-id=${detail.id}, data-stage=${map.id}, data-roll=${detail.roll}">
          <img src="/img/icon.listview.png"/>
          <span th:text="${map.name}"></span>
          <p th:text="${map.description}"></p>
        </a>
      </li>
    </ul>
  </div>
  <div data-role="content">
    <a href="#productActor" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-bullets">Actors in product</a>
    <button id="saveButton" class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
    <div id="message"></div>
  </div>
  <div id="infoPanel" data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay">
    <div class="ui-bar ui-bar-b ui-corner-all">Product information.</div>
    <form id="productForm">
      <input type="hidden" name="id" th:value="${product.id}"/>
      <label for="name">Name:</label>
      <input id="name" name="name" type="text" required="required" th:value="${product.name}"/>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required="required" th:text="${product.description}"></textarea>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend>Access:</legend>
        <label th:each="item:${accessRadio}">
          <input type="radio" name="access" th:value="${item.value}" th:text="${item.key}" th:field="*{product.access}"/>
        </label>
      </fieldset>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <label>Width:<input name="width" type="number" required="required" th:value="${product.width}"/></label>
        </div>
        <div class="ui-block-b">
          <label>Height:
          <input id="height" name="height" type="number" required="required" th:value="${product.height}"/>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Mediaset:</legend>
        <select th:field="*{product.mediaset.id}" data-native-menu="false" data-mini="true" class="filterable-select">
          <option th:each="item:${mediasetList}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
        <button id="editMediasetButton" type="button" data-icon="edit" data-rel="close" data-mini="true">Edit mediaset</button>
      </fieldset>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <div class="ui-field-contain">
            <span>Created:</span>
            <input type="text" th:value="${#dates.format(product.created,'yyyy-MM-dd')}" readonly="readonly"/>
          </div>
        </div>
        <div class="ui-block-b">
          <div class="ui-field-contain">
            <span>Updated:</span>
            <input type="text" th:value="${#dates.format(product.updated,'yyyy-MM-dd')}" readonly="readonly"/>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="stagePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <span>Choose a stage.</span>
    <ul data-role="listview" data-filter="true"></ul>
  </div>
  <div id="editStagePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <form>
      <label>Scroll:
        <select name="roll">
          <option value="0">OFF</option>
          <option value="1">ON</option>
          <option value="2">LOOP</option>
          <option value="4">TOP</option>
          <option value="8">BOTTOM</option>
        </select>
      </label>
      <button type="button" data-rel="close" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-edit">Edit map</button>
      <button type="button" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete">Remove map</button>
    </form>
  </div>
  <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <p>Product saved.</p>
  </div>
  <div data-role="footer" data-position="fixed">
    <div id="footerNav" data-role="navbar">
      <ul>
        <li><a data-icon="action" th:href="'../play/'+${product.id}" target="_blank">Play</a></li>
<!--
        <li><a data-icon="bullets" href="/edit.html" target="_blank" class="ui-state-disabled">Stages</a></li>
-->
        <li><a data-icon="grid" href="/repository.html" target="_blank" class="ui-state-disabled">Repository</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="productActor" data-role="page">
  <div data-role="header" data-theme="b" data-position="fixed">
    <a data-rel="back" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext"></a>
    <h1>Actors in product</h1>
    <a href="#ProductActorChoicePanel" class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{actor}">Actor</a>
  </div>
  <div class="ui-bar ui-bar-a" th:text="#{actor}">Actor</div>
  <div data-role="content" style="padding-top:0"
      th:with="list=${T(to.kit.shooter.entity.ActorType).List}">
    <div data-role="collapsible" data-inset="false" data-mini="true" th:each="e:${list}">
      <h4><span th:text="${e}"></span><span class="ui-li-count ui-body-inherit">0</span></h4>
      <ul data-role="listview" data-split-icon="delete" class="actorList" th:id="${e+'View'}">
        <li th:each="productActor:${typeMap.get(e)}">
          <a th:with="actor=${productActor.actor}" href="#ProductActorPanel"
              th:attr="data-id=${productActor.id}, data-class=${productActor.className}, data-actor=${actor.id}">
            <img src="/img/icon.listview.png" th:src="'/visual/src/'+${actor.imageid}"/>
            <span th:text="${actor.name}"></span>
            <p>
              <span th:text="${productActor.className}" class="className"></span>
              <span th:text="${actor.description}"></span>
            </p>
          </a>
          <a class="deleteButton"></a>
        </li>
      </ul>
    </div>
<!--
    <ul id="formationView" data-role="listview" data-split-icon="delete" class="actorList">
      <li data-role="list-divider" class="divider">Formation<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="bossView" data-role="listview" class="actorList">
      <li data-role="list-divider" class="divider">Boss<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="materialView" data-role="listview" data-split-icon="delete" class="actorList">
      <li data-role="list-divider" class="divider">Material<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="bulletView" data-role="listview" class="actorList">
      <li data-role="list-divider" class="divider">Bullet<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="capsuleView" data-role="listview" data-split-icon="delete" class="actorList">
      <li data-role="list-divider" class="divider">Capsule<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="shotView" data-role="listview" class="actorList">
      <li data-role="list-divider" class="divider">Shot<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="missileView" data-role="listview" data-split-icon="delete" class="actorList">
      <li data-role="list-divider" class="divider">Missile<span class="ui-li-count">0</span></li>
    </ul>
    <ul id="shipView" data-role="listview" data-split-icon="delete" class="actorList">
      <li data-role="list-divider" class="divider">Ship<span class="ui-li-count">0</span></li>
    </ul>
-->
  </div>
  <div id="ProductActorChoicePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <span>Choose an actor.</span>
    <select name="actorType"></select>
    <ul data-role="listview" data-filter="true"></ul>
  </div>
  <div id="ProductActorPanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <form>
      <input type="text" name="actorName" disabled="disabled"/>
      <label>Class name:<input type="text" name="className" required="required"/></label>
      <button type="button" data-rel="close">OK</button>
    </form>
  </div>
</div>
</body>
</html>
