<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Product</title>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<link rel="stylesheet" href="/css/default.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/js/detail-min.js"></script>
</head>

<body>
<div data-role="page">
  <div data-role="header" data-theme="b" data-position="fixed">
<!--
    <a href="/" data-ajax="false" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext"></a>
-->
    <h1>Product</h1>
    <a href="#stagePanel" class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-plus">Stage</a>
  </div>
  <div data-role="main">
    <form id="productForm">
      <input type="hidden" name="id" th:value="${product.id}"/>
      <div class="ui-field-contain">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" required="required" th:value="${product.name}"/>
      </div>
      <div class="ui-field-contain">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required="required" th:text="${product.description}"></textarea>
      </div>
      <div class="ui-field-contain">
        <fieldset data-role="controlgroup" data-type="horizontal">
          <legend>Access:</legend>
          <label th:each="item:${accessRadio}">
            <input type="radio" name="access" th:value="${item.value}" th:text="${item.key}" th:field="*{product.access}"/>
          </label>
        </fieldset>
      </div>
      <div class="ui-field-contain">
        <label for="width">Width:</label>
        <input id="width" name="width" type="number" required="required" th:value="${product.width}"/>
      </div>
      <div class="ui-field-contain">
        <label for="height">Height:</label>
        <input id="height" name="height" type="number" required="required" th:value="${product.height}"/>
      </div>
    </form>
    <ul data-role="listview"><li data-role="list-divider">Stage</li></ul>
    <ul id="productStageView" data-role="listview">
      <li th:each="detail:${product.detailList}" th:attr="data-id=${detail.stageId}">
        <a th:with="stage=${detail.stage}" href="#editStagePanel">
          <img src="/img/icon.listview.png"/>
          <span th:text="${stage.name}"></span>
          <p th:text="${stage.description}"></p>
        </a>
      </li>
    </ul>
    <div class="ui-field-contain">
      <span>Created:</span>
      <input type="text" th:value="${#dates.format(product.created,'yyyy-MM-dd')}" readonly="readonly"/>
    </div>
    <div class="ui-field-contain">
      <span>Updated:</span>
      <input type="text" th:value="${#dates.format(product.updated,'yyyy-MM-dd')}" readonly="readonly"/>
    </div>
    <button id="saveButton" class="ui-btn ui-btn-b ui-corner-all">Save</button>
    <div id="message"></div>
  </div>
  <div id="stagePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <span>Choose a stage.</span>
    <ul id="stageView" data-role="listview" data-filter="true">
    </ul>
  </div>
  <div id="editStagePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <form>
      <label>Scroll:
        <select name="roll">
          <option value="0">OFF</option>
          <option value="1">ON</option>
          <option value="2">LOOP</option>
          <option value="4">TOP</option>
          <option value="8">BOTTOM</option>
        </select>
      </label>
    </form>
    <button class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
    <button type="button" data-rel="close" class="ui-btn ui-corner-all">Cancel</button>
  </div>
  <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <p>Product saved.</p>
  </div>
  <div data-role="footer" data-position="fixed">
    <div id="footerNav" data-role="navbar">
      <ul>
        <li><a data-icon="action" th:href="'play?id='+${product.id}" target="_blank">Play</a></li>
        <li><a data-icon="bullets" href="/edit.html" target="_blank" class="ui-state-disabled">Stages</a></li>
        <li><a data-icon="grid" href="/repository.html" target="_blank" class="ui-state-disabled">Repository</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
