<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title th:text="${detail.map.name}"></title>
<link rel="icon" type="image/x-icon" href="/img/icon.shooter.ico"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/js/implementor-min.js"></script>
<script type="text/javascript" src="/js/edit-min.js"></script>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
}
#view {
	position: relative;
	overflow: hidden;
	z-index: 0;
	transform-origin: 0px 0px;
	transform: scale(2);
	color: white;
	background-color: black;
	/*border: 1px blue dotted;*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#actorPanel img {
	min-width: 1em;
	max-width: 2em;
	min-height: 1em;
	max-height: 2em;
}
</style>
</head>

<body>
  <div data-role="page">
    <div id="view">
      <canvas id="canvas"></canvas>
      <div id="loading"></div>
    </div>
    <div data-role="footer"  data-position="fixed">
      <div id="panel">
        <input id="slider" type="range" value="0" min="0" max="0"/>
        <fieldset data-role="controlgroup" data-type="horizontal">
          <a href="#attrPanel" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-bullets">Attributes</a>
          <label>Move<input type="radio" name="behavior" value="m" checked="checked"/></label>
          <label>Brick<input type="radio" name="behavior" value="b"/></label>
          <label>Actor<input type="radio" name="behavior" value="a" disabled="disabled"/></label>
          <button id="saveButton" data-icon="check" class="ui-btn ui-btn-b">Save</button>
        </fieldset>
      </div>
    </div>
    <div id="attrPanel" data-role="panel" data-position="right" data-display="overlay">
      <form id="attrForm" enctype="multipart/form-data">
        <input id="productId" type="hidden" th:value="${detail.product.id}"/>
        <input id="mediasetId" type="hidden" th:value="${detail.product.mediaset.id}"/>
        <input id="detailId" type="hidden" th:value="${detail.id}"/>
        <div id="inputBox"></div>
<!--
        <fieldset data-role="controlgroup" data-mini="true">
          <legend>BG1:</legend>
          <input type="number" name="bg1speed" min="0" max="1" step="0.1"/>
          <input type="number" name="bg1dir"/>
          <input type="number" name="bg1blink"/>
        </fieldset>
-->
        <button type="button" data-rel="close" class="ui-btn ui-mini ui-btn-b ui-corner-all">Close</button>
        <fieldset data-role="collapsible" data-mini="true">
          <legend>Trial</legend>
          <input id="mapFile" type="file"/>
          <button id="generateButton" type="button">Generate Brick</button>
        </fieldset>
      </form>
    </div>
    <div id="brickPanel" data-role="panel" data-position="right" data-display="overlay">
      <fieldset data-role="controlgroup" data-mini="true">
        <button class="ui-btn ui-btn-b" disabled="disabled">Brick</button>
        <label>Brick<input type="radio" name="brick" value="b0" checked="checked"/></label>
        <label>Plate<input type="radio" name="brick" value="b1"/></label>
        <label>Rebirth<input type="radio" name="brick" value="b2"/></label>
      </fieldset>
    </div>
    <div id="actorPanel" data-role="panel" data-position="right" data-display="overlay">
      <div data-role="controlgroup" data-filter="true"></div>
    </div>
    <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
      <p></p>
    </div>
  </div>
</body>
</html>
