<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Product</title>
<link rel="icon" type="image/x-icon" href="/img/icon.shooter.ico"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<link rel="stylesheet" href="/css/default.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/js/ssfw-min.js"></script>
<script type="text/javascript" src="/js/editProduct-min.js"></script>
</head>

<body>
<div id="productDetail" data-role="page" th:object="${product}">
  <div data-role="header" data-theme="b" data-position="fixed">
<!--
    <a href="/" data-ajax="false" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext"></a>
-->
    <h1 th:text="*{name} + ' - '  + #{product}">Product</h1>
    <a href="#infoPanel" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-info">Info</a>
    <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
      <a href="#stagePanel" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-plus" th:text="#{stage}">Stage</a>
    </div>
  </div>
  <div data-role="collapsibleset">
    <div data-role="collapsible" data-collapsed="false">
      <h4 th:text="#{stage}">Stage</h4>
      <ul id="productStageView" data-role="listview" data-split-icon="minus">
        <li th:each="stage:*{stageList}">
          <a th:href="'/stage/edit/' + ${stage.id}" target="_blank" th:with="map=${stage.map}"
              th:attr="data-id=${stage.id}, data-stage=${map.id}, data-roll=${stage.roll}">
            <img src="/img/icon.listview.png"/>
            <span th:text="${map.name}"></span>
            <span th:text="${#lists.size(stage.scenarioList)}" class="ui-li-count"></span>
            <p th:text="${map.description}"></p>
          </a>
          <a href="#" class="sortable"></a>
        </li>
      </ul>
    </div>
  </div>
  <button id="saveButton" class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
    <div id="message"></div>
    <div id="loading"></div>
  <div id="infoPanel" data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay">
    <form>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}"/>
      <input id="name" name="name" type="text" required="required" th:value="*{name}"/>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required="required" th:text="*{description}"></textarea>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend>Access:</legend>
        <label th:each="item:${accessRadio}">
          <input type="radio" name="access" th:value="${item.value}" th:text="${item.key}" th:field="*{access}"/>
        </label>
      </fieldset>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <label>Width:<input name="width" type="number" required="required" th:value="*{width}"/></label>
        </div>
        <div class="ui-block-b">
          <label>Height:
          <input id="height" name="height" type="number" required="required" th:value="*{height}"/>
          </label>
        </div>
      </fieldset>
      <div data-role="collapsibleset">
        <div data-role="collapsible" data-mini="true" data-collapsed="false">
          <h2>Mediaset</h2>
          <fieldset>
            <select th:field="*{mediaset.id}" data-native-menu="false" data-mini="true" class="filterable-select">
              <option th:each="item:${mediasetList}" th:value="${item.id}" th:text="${item.name}"></option>
            </select>
            <a th:href="'/mediaset/edit/' + *{mediaset.id}" target="_blank"
                class="ui-btn ui-corner-all ui-mini ui-btn-icon-left ui-icon-edit" data-rel="close">Edit mediaset</a>
          </fieldset>
        </div>
        <div data-role="collapsible" data-mini="true">
          <h2>Crash handling</h2>
          <ul data-role="listview">
            <li data-role="list-divider">Scroll:</li>
            <li class="ui-field-contain">
              <select data-mini="true" th:field="*{crashScroll}">
                <option value="0">Keep</option>
                <option value="1">Stop</option>
              </select>
            </li>
            <li data-role="list-divider">BGM:</li>
            <li class="ui-field-contain">
              <select data-mini="true" th:field="*{crashBgm}">
                <option value="0">Keep</option>
                <option value="1">Stop</option>
                <option value="2">Fade</option>
              </select>
            </li>
            <li data-role="list-divider">Player:</li>
            <li class="ui-field-contain">
              <select data-mini="true" th:field="*{crashPlayer}">
                <option value="0">Rebirth</option>
                <option value="1">Start over</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <div class="ui-field-contain">
            <span>Created:</span>
            <input type="text" th:value="${#dates.format(product.created,'yyyy-MM-dd')}" readonly="readonly"/>
          </div>
        </div>
        <div class="ui-block-b">
          <div class="ui-field-contain">
            <span>Updated:</span>
            <input type="text" th:value="${#dates.format(product.updated,'yyyy-MM-dd')}" readonly="readonly"/>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="stagePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <span>Choose a map.</span>
    <ul data-role="listview" data-filter="true"></ul>
  </div>
  <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <p>Product saved.</p>
  </div>
  <div data-role="footer" data-position="fixed">
    <div id="footerNav" data-role="navbar">
      <ul>
        <li><a data-icon="action" th:href="'../play/'+*{id}" target="_blank">Play</a></li>
<!--
        <li><a data-icon="bullets" href="/edit.html" target="_blank" class="ui-state-disabled">Stages</a></li>
-->
        <li><a data-icon="grid" href="/repository.html" target="_blank" class="ui-state-disabled">Repository</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
