<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Mediaset</title>
<link rel="icon" type="image/x-icon" href="/img/icon.shooter.ico"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<link rel="stylesheet" href="/css/default.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/js/ssfw-min.js"></script>
<script type="text/javascript" src="/js/repository-min.js"></script>
</head>

<body>
<div id="mediasetPage" data-role="page">
  <div data-role="header" data-theme="b" data-position="fixed">
<!--
    <a href="/" data-ajax="false" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext"></a>
-->
    <h1 th:text="#{mediaset}">Mediaset</h1>
    <a href="#" class="ui-btn ui-btn-right ui-corner-all ui-btn-inline ui-btn-icon-notext ui-icon-plus"></a>
  </div>
  <div>
    <input type="hidden" id="mediasetId" th:value="${mediaset.id}"/>
    <input type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}"/>
    <div data-role="tabs" class="ui-bar ui-body">
      <div data-role="navbar" data-iconpos="left">
        <ul>
          <li><a id="imageButton" href="#visualFilter" data-panel="#imagePanel" data-icon="heart">Visual</a></li>
          <li><a id="audioButton" href="#audioFilter" data-panel="audioPanel" data-icon="audio">Audio</a></li>
          <li><a id="mapButton" href="#mapFilter" data-icon="location">Map</a></li>
          <li><a id="actorButton" href="#actorFilter" data-icon="user">Actor</a></li>
        </ul>
      </div>
      <fieldset id="visualFilter" data-role="controlgroup" data-type="horizontal" data-mini="true">
        <button class="ui-btn ui-btn-b" disabled="disabled">Type</button>
        <select name="visualType" th:with="visualTypeList=${T(to.kit.shooter.entity.type.VisualType).List}">
          <option th:each="opt:${visualTypeList}" th:value="${opt.ix}" th:text="${opt}"></option>
        </select>
      </fieldset>
      <fieldset id="audioFilter" data-role="controlgroup" data-type="horizontal" data-mini="true">
        <button class="ui-btn ui-btn-b" disabled="disabled">Type</button>
        <select name="audioType" th:with="audioTypeList=${T(to.kit.shooter.entity.type.AudioType).List}">
          <option th:each="opt:${audioTypeList}" th:value="${opt.ix}" th:text="${opt}"></option>
        </select>
      </fieldset>
      <div id="mapFilter"></div>
      <div id="actorFilter">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <button class="ui-btn ui-btn-b" disabled="disabled">Type</button>
          <select name="actorType" th:with="visualTypeList=${T(to.kit.shooter.entity.type.VisualType).List}">
            <option value="-1">ALL</option>
            <option th:each="opt:${visualTypeList}" th:value="${opt.ix}" th:text="${opt}"></option>
          </select>
        </fieldset>
      </div>
    </div>
    <ul id="listView" data-role="listview" data-filter="true" data-split-icon="delete">
    </ul>
  </div>
  <div id="mapPanel" data-role="panel" data-position="right" data-display="overlay">
    <div class="ui-bar ui-bar-b ui-corner-all">Map</div>
    <form id="stageForm" enctype="multipart/form-data">
      <input type="hidden" name="id"/>
      <label><span>Name:</span><input type="text" name="name" required="required"/></label>
      <button type="button" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-carat-d">Main visual</button>
      <button class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
      <button class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete">Delete</button>
      <button type="button" data-rel="close" class="ui-btn ui-corner-all">Cancel</button>
    </form>
    <div class="message"></div>
  </div>
  <div id="actorPanel" data-role="panel" data-position="right" data-display="overlay">
    <div class="ui-bar ui-bar-b ui-corner-all">Actor</div>
    <form id="actorForm" enctype="multipart/form-data">
      <input type="hidden" name="id"/>
      <input type="hidden" name="mediasetId" th:value="${mediaset.id}"/>
      <label for="actorName">Name:</label><input type="text" id="actorName" name="name" required="required"/>
      <fieldset class="access"></fieldset>
      <label for="actorType">Type:</label><select id="actorType" name="type" required="required"></select>
      <button th:attr="data-type=${T(to.kit.shooter.entity.type.VisualType).Aerial.ix}"
        class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus imageSelector">Add image</button>
      <div class="imageButtons"></div>
<!--
      <a href="#imageChooser" data-target="imageid" data-filter="act" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-heart ui-btn-icon-left ui-btn-a">Image...</a>
      <input type="hidden" name="imageid"/>
-->
      <button class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
      <button type="button" data-rel="close" class="ui-btn ui-corner-all">Cancel</button>
    </form>
  </div>
  <div id="imagePanel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay">
    <div class="ui-bar ui-bar-b ui-corner-all">Visual</div>
    <form id="imageForm" enctype="multipart/form-data">
      <input type="hidden" name="id"/>
      <input type="hidden" name="mediasetId" th:value="${mediaset.id}"/>
      <input type="hidden" name="visualSeq" data-default="0"/>
      <label for="imageName">Name:</label><input type="text" id="imageName" name="name" required="required"/>
      <fieldset class="access"></fieldset>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend>Orientation:</legend>
        <label><span>Vertical</span><input type="radio" name="orientation" value="V"/></label>
        <label><span>Horizontal</span><input type="radio" name="orientation" value="H"/></label>
      </fieldset>
      <label>Type:
        <select name="visualType" required="required" th:with="visualTypeList=${T(to.kit.shooter.entity.type.VisualType).List}">
          <option th:each="opt:${visualTypeList}" th:value="${opt.ix}" th:text="${opt}"></option>
        </select>
      </label>
      <img id="image.thumbnail"/>
      <label for="imageFile">Image:</label><input type="file" id="imageFile" name="image"/>
<!--
      <label for="imageThumb">Thumbnail:</label><input type="file" id="imageThumb" name="thumb"/>
-->
      <button class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check" th:text="#{button.save}">Save</button>
      <button type="button" id="createMapButton" data-rel="close" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-location">Create map</button>
      <button type="button" id="createActorButton" data-rel="close" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-user">Create actor</button>
    </form>
    <div class="message"></div>
  </div>
  <div id="audioPanel" data-role="panel" data-position="right" data-display="overlay">
    <div class="ui-bar ui-bar-b ui-corner-all">Audio</div>
    <form id="audioForm" enctype="multipart/form-data">
      <input type="hidden" name="id"/>
      <input type="hidden" name="mediasetId" th:value="${mediaset.id}"/>
      <input type="hidden" name="audioSeq" data-default="0"/>
      <label>Name:<input type="text" name="name" required="required"/></label>
      <fieldset class="access"></fieldset>
      <label>Type:
        <select name="audioType" required="required" th:with="audioTypeList=${T(to.kit.shooter.entity.type.AudioType).List}">
          <option th:each="opt:${audioTypeList}" th:value="${opt.ix}" th:text="${opt}"></option>
        </select>
      </label>
      <label>WebM:<input type="file" name="webm"/><a id="webmAnchor" href="#" target="_blank" class="ui-btn ui-corner-all ui-btn-icon-notext ui-icon-audio">Play</a></label>
      <label>Audio:<input type="file" name="audio"/><a id="audioAnchor" href="#" target="_blank" class="ui-btn ui-corner-all ui-btn-icon-notext ui-icon-audio">Play</a></label>
      <button class="ui-btn ui-btn-b ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
      <button type="button" data-rel="close" class="ui-btn ui-corner-all">Cancel</button>
    </form>
  </div>
  <div th:replace="_imageSelector"></div>
  <div id="imageChooser" data-role="popup">
    <ul data-role="listview" data-inset="true" data-filter="true">
      <li data-role="list-divider">Choose an image</li>
    </ul>
  </div>
  <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <p></p>
  </div>
</div>
</body>
</html>
