<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title th:text="${stage.map.name}"></title>
<link rel="icon" type="image/x-icon" href="/img/icon.shooter.ico"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/js/implementor-min.js"></script>
<script type="text/javascript" src="/js/editStage-min.js"></script>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
}
#view {
	position: relative;
	overflow: auto;
	z-index: 0;
	transform-origin: top left;
	color: white;
	background-color: black;
	/*border: 1px blue dotted;*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#canvas {
	position: absolute;
	z-index: 1000;
}
#transition {
	position: absolute;
	z-index: 1001;
}
#actorPanel img {
	min-width: 1em;
	max-width: 2em;
	min-height: 1em;
	max-height: 2em;
}
</style>
</head>

<body>
  <div data-role="page">
    <div id="view">
      <div id="frame">
        <canvas id="canvas"></canvas>
        <canvas id="transition"></canvas>
      </div>
      <div id="loading"></div>
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <div id="panel">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <a href="#attrPanel" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-bullets">Attributes</a>
          <button disabled="disabled" data-theme="b">Event</button>
          <label>Actor<input type="radio" name="behavior" value="a" checked="checked"/></label>
          <label>Effect<input type="radio" name="behavior" value="e"/></label>
          <label>Remove<input type="radio" name="behavior" value="r"/></label>
          <button disabled="disabled" data-theme="b">Guide</button>
          <label>ON<input type="radio" name="guide" value="1" checked="checked"/></label>
          <label>off<input type="radio" name="guide" value="0"/></label>
          <button disabled="disabled" data-theme="b">Brick</button>
          <label>B<input type="radio" name="color" value="b"/></label>
          <label>W<input type="radio" name="color" value="w"/></label>
          <label>-<input type="radio" name="color" value="-" checked="checked"/></label>
          <button disabled="disabled" data-theme="b">Scale</button>
          <label>1<input type="radio" name="scale" value="1" checked="checked"/></label>
          <label>2<input type="radio" name="scale" value="2"/></label>
          <label>3<input type="radio" name="scale" value="3"/></label>
          <label>4<input type="radio" name="scale" value="4"/></label>
          <button id="saveButton" data-icon="check" class="ui-btn ui-btn-b">Save</button>
        </fieldset>
      </div>
    </div>
    <div id="attrPanel" data-role="panel" data-position="left" data-display="overlay">
      <form id="attrForm" enctype="multipart/form-data"
           th:with="transitionList=${T(to.kit.shooter.entity.TransitionType).LIST}">
        <input id="productId" type="hidden" th:value="${stage.product.id}"/>
        <input id="width" type="hidden" th:value="${stage.product.width}"/>
        <input id="height" type="hidden" th:value="${stage.product.height}"/>
        <input id="mediasetId" type="hidden" th:value="${stage.product.mediaset.id}"/>
        <input id="stageId" type="hidden" th:value="${stage.id}"/>
        <input id="stageName" type="text" required="required" th:value="${stage.map.name}"/>
        <label><span>V-Scroll type:</span>
          <select name="roll" data-mini="true" th:field="${stage.roll}" th:with="scrollList=${T(to.kit.shooter.entity.ScrollType).DEFAULT_LIST}">
            <option th:each="opt:${scrollList}" th:value="${opt.value}" th:text="${opt}">OFF</option>
          </select>
        </label>
        <label><span>V-Start pos:</span>
          <input type="text" th:field="${stage.posH}" disabled="disabled"/>
        </label>
        <label><span>H-Repeat:</span>
          <input type="number" min="1" th:field="${stage.repeat}" />
        </label>
        <label><span>H-Start pos:</span>
          <input type="range" min="0" max="4" th:field="${stage.posV}"/>
        </label>
        <div data-role="collapsibleset">
          <div data-role="collapsible" data-mini="true">
            <h2>Start or retry</h2>
            <ul data-role="listview">
              <li data-role="list-divider">Transition:</li>
              <li class="ui-field-contain">
                <select data-mini="true" th:field="${stage.startTransition}">
                  <option th:each="opt:${transitionList}" th:value="${opt.value}" th:text="${opt}">OFF</option>
                </select>
                <input type="range" min="1" max="30" th:field="${stage.startSpeed}"/>
                <button type="button" data-rel="close" class="ui-btn ui-mini ui-corner-all">Preview</button>
              </li>
              <li data-role="list-divider">BGM:</li>
              <li class="ui-field-contain">
                <button type="button" name="startAudio" class="ui-btn ui-mini ui-corner-all ui-btn-icon-right ui-icon-carat-d audioSelector">&nbsp;</button>
              </li>
            </ul>
          </div>
          <div data-role="collapsible" data-mini="true">
            <h2>Sequel</h2>
            <ul data-role="listview">
              <li data-role="list-divider">Transition:</li>
              <li class="ui-field-contain">
                <select data-mini="true" th:field="${stage.sequelTransition}">
                  <option th:each="opt:${transitionList}" th:value="${opt.value}" th:text="${opt}">OFF</option>
                </select>
                <input type="range" min="1" max="30" th:field="${stage.sequelSpeed}">
                <button type="button" data-rel="close" class="ui-btn ui-mini ui-corner-all">Preview</button>
              </li>
              <li data-role="list-divider">BGM:</li>
              <li class="ui-field-contain">
                <button type="button" name="sequelAudio" class="ui-btn ui-mini ui-corner-all ui-btn-icon-right ui-icon-carat-d audioSelector">&nbsp;</button>
              </li>
            </ul>
          </div>
        </div>
<!--
        <fieldset data-role="controlgroup" data-mini="true">
          <legend>BG1:</legend>
          <input type="number" name="bg1speed" min="0" max="1" step="0.1"/>
          <input type="number" name="bg1dir"/>
          <input type="number" name="bg1blink"/>
        </fieldset>
        <button type="button" data-rel="close" class="ui-btn ui-mini ui-btn-b ui-corner-all">Close</button>
        <fieldset data-role="collapsible" data-mini="true">
          <legend>Trial</legend>
          <input id="mapFile" type="file"/>
        </fieldset>
-->
      </form>
    </div>
    <div id="actorPanel" data-role="panel" data-position="left" data-display="overlay">
      <div data-role="controlgroup" data-filter="true"></div>
    </div>
    <div id="eventPanel" data-role="panel" data-position="left" data-display="overlay">
      <div data-role="collapsibleset" data-mini="true">
        <div data-role="collapsible">
          <h3>Mode</h3>
          <fieldset data-role="controlgroup" data-mini="true" data-inset="false"
              th:with="modeList=${T(to.kit.shooter.entity.ScenarioType).MODE_LIST}">
            <label th:each="opt:${modeList}"><input type="radio" name="op" th:value="${opt}" data-type="mode"/>
              <span th:text="#{${opt.value}}"></span>
            </label>
          </fieldset>
        </div>
        <div data-role="collapsible">
          <h3>Effect</h3>
          <fieldset data-role="controlgroup" data-mini="true" data-inset="false"
              th:with="modeList=${T(to.kit.shooter.entity.ScenarioType).EFFECT_LIST}">
              <label th:each="opt:${modeList}"><input type="radio" name="op" th:value="${opt}" data-type="effect"/>
                <span th:text="#{${opt.value}}"></span>
              </label>
            </fieldset>
          </div>
        <div data-role="collapsible">
          <h3>Audio</h3>
          <fieldset data-role="controlgroup" data-mini="true" data-inset="false"
              th:with="audioList=${T(to.kit.shooter.entity.ScenarioType).AUDIO_LIST}">
            <label th:each="opt:${audioList}"><input type="radio" name="op" th:value="${opt}" data-type="audio">
              <span th:text="#{${opt.value}}"></span>
            </label>
          </fieldset>
          <fieldset id="audioSelectorButton" data-role="controlgroup" data-mini="true">
            <button class="ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-d audioSelector">&nbsp;</button>
          </fieldset>
        </div>
      </div>
    </div>
    <div id="messagePopup" data-role="popup" data-overlay-theme="b" class="ui-content" style="max-width:280px">
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
      <p></p>
    </div>
    <div th:replace="_audioSelector"></div>
  </div>
</body>
</html>
