<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title th:text="${product.name}"></title>
<link rel="icon" type="image/x-icon" href="/img/icon.shooter.ico"/>
<link rel="stylesheet" href="/css/default.css"/>
<script type="text/javascript" src="/js/implementor-min.js"></script>
<script type="text/javascript" src="/js/play-min.js"></script>
</head>

<body>
  <div id="view">
    <div id="gameOver">
      <div>GAME OVER</div>
      <div>Hit space key to start.</div>
    </div>
    <div id="gameInfo">
      <div id="score">
        <div><div>1P</div><div>0</div></div>
        <div><div>HI</div><div>0</div></div>
        <div></div>
      </div>
      <div id="remain"><div><div></div></div></div>
    </div>
    <canvas id="canvas"></canvas>
    <div id="loading"></div>
  </div>
  <input id="productId" type="hidden" th:value="${product.id}"/>
</body>
</html>
